
!jest.config.js
*.d.ts
node_modules
.venv

# CDK asset staging directory
.cdk.staging
cdk.out


# Mac files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails files
._*
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop

# the build files of the project
package-lock.json

# ignore the environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# ignore the coverage files
coverage

# ignore the test files
__tests__
venv/
